<script type="text/javascript">
	$.ajax({
		url: '/users/sign_in.json',
		type: 'POST',
		data: '{"name": "John Doe", "email": "john@doe.com", "password": "s3kr3t", "password_confirmation": "s3kr3t"}'
	});
</script>

<h1>Users#sign_in</h1>
<p>Find me in app/views/users/sign_in.html.erb</p>
<form method="POST" name="data" action="">
	<input type="Submit" />
</form>
